<h1 class="animated fadeIn fast">About Comic</h1>
<hr>

<marquee behavior="" direction="">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde impedit provident, doloribus hic in quas nulla. Delectus reprehenderit quisquam alias, quam nostrum, in quasi doloremque sunt, consequatur autem omnis aut! Facilis rem cupiditate autem, porro
    magnam assumenda facere dolorum nam! Tempore provident rerum omnis pariatur asperiores quidem dolores molestias sed ducimus harum! Facilis voluptas obcaecati, similique exercitationem quasi sint! Distinctio. Ipsa nobis illo aspernatur, facere ullam
    odio vero repellendus excepturi repudiandae deserunt nemo modi? Ipsam consequatur error, doloremque accusamus corporis quos laudantium aspernatur pariatur excepturi sit tempore doloribus dicta eligendi? At, amet odit ducimus delectus inventore numquam
    voluptate, eius laboriosam iste est ea cupiditate! Explicabo perspiciatis doloribus totam natus dolore quos sapiente, culpa neque distinctio sit quis iure odit quas. Sit quidem molestiae quae est in doloremque eos maxime commodi nisi doloribus, quia
    molestias. Ab obcaecati vitae necessitatibus id enim laudantium eos porro minus aliquid, aliquam exercitationem consectetur possimus deserunt!
</marquee>